h1 { color:red; }
*{border:solid }

.header{
background-color: yellow;
display:flex;
justify-content: space-between;
}

.menu{
background-color:yellow;
}

.site_description{
background-color: lightskyblue;
display: flex;
justify-content: space-evenly;
}

.grid{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.footer{
display: flex;
justify-content: flex-end;
}

p,h2{
    text-align: center;
}